$purple: #7300ff;
$zinc-300: #d4d4d8;
$zinc-400: #a1a1aa;
$zinc-500: #71717a;
$zinc-600: #52525b;
$zinc-700: #3f3f46;
$zinc-800: #27272a;
$zinc-900: #18181b;
$black: #000000;
$black-transparent: rgba($black, 0.7);

#taskbar__window {
  background-color: unset;
}

.taskbar-side-item__box {
  padding: 0 16px;
  background-color: $black-transparent;
  border-radius: 12px;
}

.taskbar-side-item__button {
  padding: 0 16px;
  background-image: none;
  background-color: $black-transparent;
  border: 2px solid transparent;
  border-radius: 12px;
  transition: 200ms;
}

.taskbar-side-item__button--active {
  border-color: $purple;
}

#taskbar-clock__label {
  font-size: 16px;
  color: white;
}

#taskbar-boot__popover contents {
  border: none;
  background-color: $black-transparent;
  border-radius: 12px;
  padding: 8px;
}

#taskbar-boot__popover arrow {
  background-color: $black-transparent;
}

.taskbar-boot-popover__button {
  background-color: unset;
  background-image: none;
  border: none;
  font-size: 16px;
  padding: 4px 16px;
  color: white;
}

.taskbar-boot-popover__button:hover {
  background-color: $purple;
}

#notifcation-popup__window {
  background-image: none;
  background-color: transparent;
}
